//FONT
$primary-font:'Montserrat', sans-serif;

//SIZE
$continer-size-vw: 80vw;

//COLOR
$primary-font-color: #e9f1f2;
$bg-body-color: #0d0000;
$primary-color: #5288f2;
$secondary-color: #4886d9;
$tertiary-color: #3e608c;